<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
</head>


<body>
    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PMS</a>
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="Home" href="~/Post/Index">Post</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="~/Events/Index">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/polls/Index">Polls</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">Your Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5">@Session["Username"]</div>
                        <div class="h7 text-muted">Fullname :@Session["Name"]</div>
                        <div class="h7">
                            Hii I love to give back to Nature as well as i can.
                            .Here to spread Love and Care...Looking forward to making an impact
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">No of Events</div>
                            <div class="h5">
                                @{
                                    Html.RenderAction("GetTotal", "Events");
                                                        }
                                                    </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">No of Polls</div>
                            <div class="h5">
                                @{
                                    Html.RenderAction("GetTotal", "polls");
                                                        }
                                                    </div>
                        </li>
                        <li class="list-group-item">Located at Banaras</li>
                    </ul>
                </div>
            </div>

            @RenderBody()

            <div class="col-md-3">
                @{
                    Html.RenderAction("GetLatest", "Events");
                }

                @{
                    Html.RenderAction("GetLatest", "polls");
                }

            </div>
        </div>
    </div>



    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -BajRang Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)


</body>
</html>
